{% extends "layout.html" %}
{% block content %}

    <p>{{user.name}}</p>
    <br />
    <ul>
        {% for invoice in invoices %}
            <li> Számla azonosító: {{invoice.id}} \t Létrehozás dátuma: {{invoice.created_at}} \t Teljes ár: {{invoice.total_amount}} Ft</li>
            <ul>
                {% for item in invoice["items"] %}
                <li>{{item.description}} \t {{item.amount}} Ft</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}