<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelguru</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <span style="color:red;">{{ message }}</span><br />
    {% endfor %}
    {% endif %}
    {% endwith %}

    <nav>
        <ul style="list-style-type: none; display: flex; align-items: center; padding: 0; margin: 0;">
            <li style="margin-right: 20px;"><h1>Hotelguru</h1></li>
            <li style="margin-right: 15px;"><a href="/">Kezdőlap</a></li>
            <li><a href="/account">Felhasználó</a></li>
        </ul>
    </nav>
    {% if user %}
    <p>Üdvözöljük, {{ user.name }}!</p>
    <a href="/logout">Kilépés</a>
    {% endif %}

        {% block content %}{% endblock %}
</body>
</html>
