{% extends "layout.html" %}

{% block content %}

    {% if not user %}
        <a href="/reg">Regisztráció</a>
        <h2>Belépés:</h2>
        <form action="" method="post" novalidate>
            {{ login.hidden_tag() }}
            <p>
                {{ login.email.label }}<br />
                {{ login.email(size=32) }}<br />
                {% for error in login.email.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ login.password.label }}<br />
                {{ login.password(size=32) }}<br />
                {% for error in login.password.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ login.submit_login() }}
            </p>
        </form>
    {% endif %}


    <h2>Hotelek:</h2>
    <div style="display: flex; align-items: center; gap: 10px; margin: 10px 0;">
        <span>Keresés:</span>
        <form action="" method="post" novalidate style="display: flex; align-items: center; gap: 5px; margin: 0;">
            {{ search.hidden_tag() }}
            {{ search.name.label }}
            {{ search.name(size=32) }}
            {{ search.city.label }}
            {{ search.city(size=32) }}
            {{ search.submit_search() }}
        </form>
    </div>

    <table>
        {% for hotel in hotels %}
            <tr>
                {% if 'Adminisztrátor' in roles | map(attribute='name') %}
                    <td><input type="radio" name="hotel_selector" value="{{ hotel.id }}" onclick="selectHotel('{{ hotel.id }}', '{{ hotel.name }}', '{{ hotel.city }}', '{{ hotel.address }}', '{{ hotel.rating }}')"></td>
                {% endif %}
                <!-- <td>id: {{ hotel.id }}</td> -->
                <td>{{ hotel.name }}</td>
                <td>Cím: {{ hotel.city }} {{ hotel.address }}</td>
                <td>Értékelés: {{ hotel.rating }}</td>
                <td><a href="/rooms/{{ hotel.id }}">Szobák</a></td>
            </tr>
        {% endfor %}
    </table>

    {% if 'Adminisztrátor' in roles | map(attribute='name') %}
        <div style="margin-top: 20px;">
            <h2>Hotelek módosítása</h2>
            <form action="" method="post" novalidate>
                {{ hotelform.hidden_tag() }}
                <p>
                    {{ hotelform.hotelid(id="hotelform_id", type="hidden") }}
                    {{ hotelform.name.label }}<br />
                    {{ hotelform.name(size=32, id="hotelform_name") }}<br />
                    {% for error in hotelform.name.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ hotelform.city.label }}<br />
                    {{ hotelform.city(size=32, id="hotelform_city") }}<br />
                    {% for error in hotelform.city.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ hotelform.address.label }}<br />
                    {{ hotelform.address(size=32, id="hotelform_address") }}<br />
                    {% for error in hotelform.address.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ hotelform.submit_add() }} {{ hotelform.submit_update() }} {{ hotelform.submit_delete() }}</p>
            </form>
        </div>
    {% endif %}
    <script>
    function selectHotel(id, name, city, address) {
        if (document.getElementById('hotelform_id')) document.getElementById('hotelform_id').value = id;
        if (document.getElementById('hotelform_name')) document.getElementById('hotelform_name').value = name;
        if (document.getElementById('hotelform_city')) document.getElementById('hotelform_city').value = city;
        if (document.getElementById('hotelform_address')) document.getElementById('hotelform_address').value = address;
        
    }
    </script>
{% endblock %}