{% extends "layout.html" %}

{% block content %}
        {% if rooms %}
<h4>Hotel: {{ rooms[0].hotel.name }}</h4>
        Cím: {{ rooms[0].hotel.city }} {{ rooms[0].hotel.address }}
<br />
        Értékelés: {{ rooms[0].hotel.rating }}
        {% endif %}
        {% if user %}
<h3>Értékelés</h3>
<form action="" method="post" novalidate>
    {{ reviewform.hidden_tag() }}
    <p>
        {{ reviewform.rating.label }}<br />
        {{ reviewform.rating(size=32) }}<br />
        {% for error in reviewform.rating.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ reviewform.comment.label }}<br />
        {{ reviewform.comment(size=100) }}<br />
        {% for error in reviewform.comment.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ reviewform.submitreview() }}
    </p>
</form>
        {% endif %}


<h4>Szobák:</h4>
<div style="display: flex; align-items: center; gap: 10px; margin: 10px 0;">
    <span>Elérhető szobák:</span>:</span>
    <form action="" method="post" novalidate style="display: flex; align-items: center; gap: 5px; margin: 0;">
        {{ roomsearch.hidden_tag() }}
        {{ roomsearch.start_date.label }}
        {{ roomsearch.start_date(size=32) }}
        {{ roomsearch.end_date.label }}
        {{ roomsearch.end_date(size=32) }}
        {{ roomsearch.submit_search() }}
    </form>
</div>
<table>
    {% for room in rooms %}
    <tr>
        {% if 'Adminisztrátor' in roles | map(attribute='name') %}
        <td><input type="radio" name="room_selector" value="{{ room.id }}" onclick="selectRoom('{{ room.id }}', '{{ room.number }}', '{{ room.beds }}', '{{ room.kitchen }}', '{{ room.price }}', '{{ room.status.id }}')"></td>
        {% endif %}
        <!-- <td>id: {{ room.id }}</td> -->
        <td>Szobaszám: {{ room.number }}</td>
        <td>Ágyak száma: {{ room.beds }}</td>
        <td>Konyha: {{ '✔' if room.kitchen else '✘' }}</td>
        <td>Ár egy éjszakára: {{ room.price }}</td>
        <td>{{ room.status.name }}</td>
    </tr>
    {% endfor %}
</table>

    {% if 'Adminisztrátor' in roles | map(attribute='name') %}
<div style="margin-top: 20px;">
    <h2>Szobák Módosítása</h2>
    <form action="" method="post" novalidate>
        {{ roomform.hidden_tag() }}
        {{ roomform.roomid(id="roomform_id", type="hidden") }}
        <p>
            {{ roomform.number.label }}<br />
            {{ roomform.number(size=32, id="roomform_number") }}<br />
            {% for error in roomform.number.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ roomform.beds.label }}<br />
            {{ roomform.beds(size=32, id="roomform_beds") }}<br />
            {% for error in roomform.beds.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ roomform.kitchen.label }}<br />
            {{ roomform.kitchen(id="roomform_kitchen") }}<br />
        </p>
        <p>
            {{ roomform.price.label }}<br />
            {{ roomform.price(size=32, id="roomform_price") }}<br />
            {% for error in roomform.price.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ roomform.status.label }}<br />
            {{ roomform.status(id="roomform_status") }}
        </p>
        <p>
            {{ roomform.submit_roomadd() }} {{ roomform.submit_roomupdate() }} {{ roomform.submit_roomdelete() }}
        </p>
    </form>
</div>
    {% endif %}

<h4>Szolgáltatások:</h4>
<table>
    {% for service in services %}
    <tr>
        {% if 'Adminisztrátor' in roles | map(attribute='name') %}
        <td><input type="radio" name="service_selector" value="{{ service.id }}" onclick="selectService('{{ service.id }}', '{{ service.name }}', '{{ service.price }}')"></td>
        {% endif %}
        <!-- <td>id: {{ service.id }}</td> -->
        <td>Név: {{ service.name }}</td>
        <td>Ár: {{ service.price }}</td>
    </tr>
    {% endfor %}
</table>
    {% if 'Adminisztrátor' in roles | map(attribute='name') %}
<h2>Szolgáltatások módosítása</h2>
<form action="" method="post" novalidate>
    {{ serviceform.hidden_tag() }}
    <p>
        {{ serviceform.serviceid(id="serviceform_id", type="hidden") }}
        {{ serviceform.name.label }}<br />
        {{ serviceform.name(size=32, id="serviceform_name") }}<br />
        {% for error in serviceform.name.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ serviceform.price.label }}<br />
        {{ serviceform.price(size=32, id="serviceform_price") }}<br />
    </p>
    <p>{{ serviceform.submit_seradd() }} {{ serviceform.submit_serupdate() }} {{serviceform.submit_serdelete()}}</p>
</form>
    {% endif %}

    {% if 'Vendég' in roles | map(attribute='name') %}
    <h2>Foglalás</h2>
    <form action="" method="post" novalidate>
        {{ reserveform.hidden_tag() }}
        <p>
            {{ reserveform.roomid.label }}<br />
            {{ reserveform.roomid() }}
            {% for error in reserveform.roomid.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ reserveform.submit_reservation() }}</p>
    </form>
{% endif %}

<script>
    function selectRoom(id, number, beds, kitchen, price, status) {
        if (document.getElementById('roomform_id')) document.getElementById('roomform_id').value = id;
        if (document.getElementById('roomform_number')) document.getElementById('roomform_number').value = number;
        if (document.getElementById('roomform_beds')) document.getElementById('roomform_beds').value = beds;
        if (document.getElementById('roomform_kitchen')) document.getElementById('roomform_kitchen').checked = (kitchen === 'True');
        if (document.getElementById('roomform_price')) document.getElementById('roomform_price').value = price;
        if (document.getElementById('roomform_status')) document.getElementById('roomform_status').value = status;
    }
    function selectService(id, name, price) {
        if (document.getElementById('serviceform_id')) document.getElementById('serviceform_id').value = id;
        if (document.getElementById('serviceform_name')) document.getElementById('serviceform_name').value = name;
        if (document.getElementById('serviceform_price')) document.getElementById('serviceform_price').value = price;
    }
</script>
{% endblock %}